# Python
__pycache__/
venv/
*.pyc
*.pyo
*.pyd
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Data & Models (we will store these in Google Drive, not Git)
data/
*.pth
*.pt
*.bin
*.ckpt
checkpoints/
output/

# Kaggle/Colab specific